body { 
    margin: 0;
    background-color: #F2F2F2;
    width: 90%;
}



@keyframes unroll2  { 
    0% { transform: translateY(-500px) }
   100% { transform: translateY(0px)  }
}
  
@keyframes rotate { 
    0% { transform: rotate(30deg)}
    100% { transform: rotate(-30deg)}
}

html { 
    scroll-behavior: smooth;
    width: 100%;

}
.logo { 
    animation: rotate 2s infinite; 
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
    margin-bottom: -55px;
    margin-right: -50px;
    cursor: pointer;
}



#light-home { 
    font-family: 'Montagu Slab', serif;
    background-color: #F2F2F2;
    
    width: 100%; 
    height: 700px;
  
    position: relative;
    margin-bottom: 50px;
}
  
  
  
#center {
    position: absolute;
    background: transparent;
    text-align: right;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: -20px;
}

#rectangle { 
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 0;
    width: 100%;
    height: 100%;
    
  
}



#back-arrow { 
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;

}

#logo { 
    position: absolute; 
    background: transparent;
    text-align: center;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
  
  
}
  
#row2 { 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    
}

#row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
}
  
.nav-button1 { 
    padding-right: 20px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
  
.nav-button2 { 
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: 
}
  
.rectangle1-light { 
    background-image: linear-gradient(#F54D42, #EF8D34);
    width: 89px;
    animation-name: unroll2;
    animation-duration: 3s;
}
  
.rectangle2-light {
    background-image: linear-gradient(#F8D548, #E4FE54, #B7FD51);
    width: 89px; 
    height: 466px;
    animation-name: unroll2;
    animation-duration: 2s;
    
}
  
  
.rectangle3-light { 
    background-image: linear-gradient(#76FBA2, #6EEBFC);
    width: 89px; 
    height: 233px;
    animation-name: unroll2;
    animation-duration: 2s;
}
  
  
.rectangle4-light { 
    background-image: linear-gradient(#6EEBFC, #3A7BED);
    width: 89px; 
    height: 636px;
    animation-name: unroll2;
    animation-duration: 2s;
}
  
.rectangle5-light { 
    background-image: linear-gradient(#5012F5, #AE27F6);
    width: 89px; 
    animation-name: unroll2;
    animation-duration: 3s;
}

#circle { 
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 50%;
    background: linear-gradient(179.89deg, #FFF 0.09%, rgba(255, 255, 255, 0) 103.56%);
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 60%;
    border-radius: 10000px 10000px 0 0;  
  
  
}




/* add glowing animation to arrow? */
@keyframes fadeInandOut{ 
    0% { opacity: 20%}
   
    100% { opacity: 100% }
}


.scroll { 
    position: absolute;
    top: 90%;
    left: 50%;
    cursor: pointer;
    animation-name: fadeInandOut;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#row1-content, #row2-content { 
    margin-bottom: 200px;
    text-align: center;
}

#row2-content { 
    margin-top: 100px;
    
}

#content { 
    position: relative;
    top: 1000px;
}

.contents { 
    width: 100%;
    padding-left: 60px;
    padding-right: 40px;
    
}

#title1, #title2 { 
    font-family: 'Montagu Slab', serif;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 50px;
    text-decoration: underline;

    background-image: linear-gradient(40deg, #F54D42, #EF8D34, #AE27F6);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;

   
 

}

#row2-org {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
.circle { 
    font-family: 'Work Sans', serif;
    font-weight: 600;
    font-size: 25px;
    color: #FFF;
    background: #1E1E1E;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    text-align: center;

    position: relative;
    cursor: pointer;
    transition: width 1s, height 1s, ease-in-out 0.5s;

}

.text { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* need to add transition! refer to lab with circles!  */

#one:hover{ 
    background: #EA3323;
    width: 200px;
    height: 200px;
    font-size: 32px;
}

#two:hover{ 
    background: #6EEBFC;
    width: 200px;
    height: 200px;
    font-size: 32px;
}

#three:hover { 
    background: #EF8D34;
    width: 200px;
    height: 200px;
    font-size: 32px;
}

#four:hover { 
    background: #4493D2;
    width: 200px;
    height: 200px;
    font-size: 32px;
}

#five:hover { 
    background: #AE27F6;
    width: 200px;
    height: 200px;
    font-size: 32px;
}

#six:hover { 
    background: #74F89F;
    width: 200px;
    height: 200px;
    font-size: 32px;
}

#seven:hover { 
    background: #7F1DF6;
    width: 200px;
    height: 200px;
    font-size: 32px;
}


.headline { 
    font-family: 'Montagu Slab 36pt';
    font-style: normal;
    font-weight: 450;
    font-size: 100px;
    line-height: 128px;
    margin-top: -80px; 
    margin-bottom: -130px;
    color: #1E1E1E;

}

#copyright { 
    font-family: 'Montagu Slab 36pt', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px; 

    position: absolute;
    z-index: 3;
    bottom: -8px;
    right: 5px;
}


.nav-button1, .nav-button2 { 
    padding: 8px;
    width: 125px;
    cursor: pointer;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: 'Montagu Slab 36pt', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #787777;
    color: #787777;
}

.nav-button1:hover, .nav-button2:hover { 
    color: #121212;
    background: linear-gradient(108.01deg, #F64E43 0%, #F17F38 20%, #F6DC4B 39.83%, #B7FD51 53.45%, #76FAAF 70.39%, #6DE7FC 79.28%, #771BF6 95.52%);
    border: 1px solid #000000;
    box-sizing: border-box;
} 


#blank {
    bottom: 0;
    margin-top: 1500px;
    height: 20px;
}


a { 
    text-decoration: none;
    text-decoration-color: #787777;
    color: #787777;
}